<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Git commit history</title>

    <script src="http://d3js.org/d3.v2.js"></script>
</head>
<body>

    <h1>Git history visualized using networkx and d3.js</h1>

    <div id="chart"></div>

<script src='http://d3js.org/d3.v3.min.js'></script>

<script>
var w = 1000,
    h = 1000,
    fill = d3.scale.category20();

var vis = d3.select("#chart")
  .append("svg:svg")
    .attr("width", w)
    .attr("height", h);

d3.json("/data", function(data) {

    console.log(data)
  var node = vis.selectAll("circle.node")
      .data(data.tree)
    .enter().append("svg:circle")
      .attr("class", "node")
      .attr("cx", function(d, i) { return d.pos[0]; })
      .attr("cy", function(d, i) { return d.pos[1]; })
      .attr("r", 10)


  node.append("svg:title")
      .text(function(d) { return d.id; });
});

    </script>
</body>
</html>

