<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Git commit history</title>

</head>
<body>

    <h1>Git history visualized using networkx and d3.js</h1>

    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>

    <div id="chart"></div>

<script src='http://d3js.org/d3.v3.min.js'></script>

<script>
var w = 1500,
    H = 50,
    fill = d3.scale.category20();

var h = H;

var vis = d3.select("#chart")
  .append("svg:svg");

d3.json("/data", function(data) {

h = H*1.45*data.nodes.length;

    vis.attr("height", h)
    .attr("width", w);

});


function render()
    {
    d3.json("/data", function(data) {

    h = H*1.45*data.nodes.length;

        vis.attr("height", h);

    var transitiontime = 0;

var PosX = function(d, i, location) { return data.nodes[d[location]].pos[0]; };
var PosY = function(d, i, location) { return h-data.nodes[d[location]].pos[1]; };

var reverseMap = {};

    for(var i=0; i<data.nodes.length; i++){
    var p = data.nodes[i];
    var hash = p.id;
    reverseMap[hash] = p;
    };

function poslink(d, i){ return PosX(d, i, "source")+PosY(d, i ,"source")+PosX(d, i, "target")+PosY(d, i ,"target"); }

var linkUpdateSelection = vis.selectAll(".link")
    .data(data.links, poslink);

    linkUpdateSelection.exit().remove();

    linkUpdateSelection
    .enter().append("line")          // attach a line
    .attr("class", "link")
    .style("stroke", "black")  // colour the line
    .attr("x1", function(d, i) {return PosX(d, i, "source");}) // x position of the first end of the line
    .attr("y1", function(d, i) {return PosY(d, i, "source");}) // y position of the first end of the line
    .attr("x2", function(d, i) {return PosX(d, i, "target");}) // x position of the second end of the line
    .attr("y2", function(d, i) {return PosY(d, i, "target");})    // y position of the second end of the line
     .style('opacity', 0);

     linkUpdateSelection
    .attr("class", "link")
    .style("stroke", "black")  // colour the line
        .transition()
        .delay(function(d,i) {return i*transitiontime})
    .attr("class", "link")
    .style("stroke", "black")  // colour the line
    .attr("x1", function(d, i) {return PosX(d, i, "source");}) // x position of the first end of the line
    .attr("y1", function(d, i) {return PosY(d, i, "source");}) // y position of the first end of the line
    .attr("x2", function(d, i) {return PosX(d, i, "target");}) // x position of the second end of the line
    .attr("y2", function(d, i) {return PosY(d, i, "target");})    // y position of the second end of the line
        .style('opacity', 1);

  var nodeUpdateSelection = vis.selectAll("circle.node")
      .data(data.nodes, function(d) {return d.id});

    nodeUpdateSelection.exit().remove();

    nodeUpdateSelection.enter().append("svg:circle")
      .attr("class", "node")
      .attr("cx", function(d, i) { return d.pos[0]; })
      .attr("cy", function(d, i) { return h-d.pos[1]; })
      .attr("r", 0)
      .attr('fill', function(d, i) {if (reverseMap[d.id]==reverseMap[data['HEAD']]){return '#99FF66';} else {return 'red';}} )
      .on('mouseover', function(d,i) {
        d3.select(this).transition()
          .ease('cubic-out')
          .duration('200')
          .attr("r", 15)
      })
      .on('mouseout', function(d,i) {
        d3.select(this).transition()
          .ease('cubic-out')
          .duration('200')
          .attr("r", 10)
      });

    nodeUpdateSelection.transition()
        .delay(function(d,i) {return i*transitiontime})
        .attr("class", "node")
        .attr("cx", function(d, i) { return d.pos[0]; })
        .attr("cy", function(d, i) { return h-d.pos[1]; })
        .attr('fill', function(d, i) {if (reverseMap[d.id]==reverseMap[data['HEAD']]){return '#99FF66';} else {return 'red';}} )
        .attr("r", 10);

    var textUpdateSelection = vis.selectAll("text.message")
        .data(data.nodes, function(d) {return d.id});

    textUpdateSelection.exit().remove();

    textUpdateSelection
    .enter().append("text")
      .text(function(d) { return d.id.substring(0, 6) + " - " + d.message; })
                 .attr("x", function(d) { return 15+d.pos[0]; })
                 .attr("y", function(d) { return h-d.pos[1]+5; })
                 .attr("font-family", "sans-serif")
                 .attr("class", "message")
                 .attr("font-size", "15px")
                 .attr("fill", "blue")
                 .style('fill-opacity', 0);

    textUpdateSelection
      .text(function(d) { return d.id.substring(0, 6) + " - " + d.message; })
                 .transition()
                 .delay(function(d,i) {return i*transitiontime})
                    .style('fill-opacity', 1)
                 .attr("x", function(d) { return 15+d.pos[0]; })
                 .attr("y", function(d) { return h-d.pos[1]+5; })
                 .attr("class", "message")
                 .attr("font-family", "sans-serif")
                 .attr("font-size", "15px")
                 .attr("fill", "blue");


    var labelUpdateSelection = vis.selectAll("text.labels")
        .data(data.labels);

var labelPosX = function(d) { return reverseMap[d].pos[0]; };
var labelPosY = function(d) { return reverseMap[d].pos[1]; };

    labelUpdateSelection.exit().remove();

    labelUpdateSelection.enter().append("text")
      .text(function(d) { return d })
                    .style('fill-opacity', 0)
     .attr("x", function(d, i) { return data[d][0]- 75; })
     .attr("y", function(d, i) { return h-data[d][1] + 5; })
     .attr("class", "labels")
     .attr("font-family", "sans-serif")
     .attr("font-size", "15px");

    labelUpdateSelection
      .text(function(d) { return d })
                 .transition()
                 .delay(function(d,i) {return i*transitiontime})
                    .style('fill-opacity', 1)
     .attr("x", function(d, i) { return labelPosX(data[d]) - 50 ; })
     .attr("y", function(d, i) { return h-labelPosY(data[d]) - 25 + i*5; })
     .attr("class", "labels")
     .attr("font-family", "sans-serif")
     .attr("font-size", "15px");


    }); //end d3.json
} //end render

render();
setInterval(render, 2000);
    </script>
</body>
</html>

